.agencyAreas {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .areasList {
    padding-top: 24px;

    .search {
      padding: 0 13px 20px;
    }

    .container {
      padding: 31px 13px;
      text-align: center;
    }
  }
}
