@import '~sfui/dist/Styles/SFMedia/SFMedia.module.scss';
@import '~sfui/dist/Styles/SFColors/SFColors.module.scss';

.panelModalDialog {
  .paper {
    width: 534px;

    @media screen and (min-width: $sf-media-sm-width) {
      width: 534px;
    }

    @media screen and (min-width: $sf-media-md-width) {
      width: 476px;
    }

    @media screen and (min-width: $sf-media-lg-width) {
      width: 604px;
    }

    @media screen and (min-width: $sf-media-xl-width) {
      width: 502px;
    }

    @media screen and (min-width: $sf-media-xxl-width) {
      width: 608px;
    }
  }

  .container {
    padding: 36px 0;
    min-height: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto;
    gap: 24px;

    .contentTitle {
      padding: 0 36px;
      display: flex;
      flex-direction: column;
      gap: 6px;

      .subTitle {
        color: $sf-grey-main-light;
      }
    }

    &.withTitle {
      grid-template-rows: auto minmax(0, 1fr) auto;
    }
  }

  .content {
    height: auto;
    min-height: 0;
    padding: 0 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .footer {
    padding: 0 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;

    .altActionButton {
      margin-right: auto;
    }
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
  }
}

:global(.nightMode) {
  .panelModalDialog {
    .container {
      .contentTitle {
        .subTitle {
          color: $sf-grey-main-dark;
        }
      }
    }
  }
}
