@import '~sfui/dist/Styles/SFColors/SFColors.module.scss';
@import '~sfui/dist/Styles/SFMedia/SFMedia.module.scss';

.agencyBilling {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;

  .card {
    border: 1px solid $sf-grey-100;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 0;

    .section {
      padding: 0 24px;

      &.logo {
        padding-left: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .image {
          height: 80px;
        }
      }
    }
  }

  .seats {
    border: 1px solid $sf-grey-100;
    display: flex;
    gap: 12px;
    padding: 12px;

    .information {
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 6px;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-right: 1px solid $sf-grey-100;

      .title {
        font-size: 19px;
      }

      &:nth-last-child(1) {
        border: none;
      }
    }
  }

  @media screen and (min-width: $sf-media-sm-width) {
    padding: 0;
  }
}

:global(.nightMode) {
  .agencyBilling {
    .card {
      border-color: $sf-grey-700;
    }

    .seats {
      border-color: $sf-grey-700;

      .information {
        border-color: $sf-grey-700;
      }
    }
  }
}
