@import '~sfui/dist/Styles/SFMedia/SFMedia.module.scss';

.listManagment {
  display: flex;
  flex-direction: column;

  .header {
    .searchField {
      padding: 36px 13px 20px;
    }

    &.emptyList {
      .divider {
        padding-top: 36px;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .spinner,
    .emptyMsg {
      text-align: center;
      padding: 20px 0;
      box-sizing: border-box;
    }
  }
}

@media screen and (min-width: $sf-media-sm-width) {
  .listManagement {
    .header {
      padding: 0;
    }

    .list {
      padding-bottom: 0;

      .emptyMsg {
        padding: 31px 0;
      }
    }
  }
}
