@import '~sfui/dist/Styles/SFColors/SFColors.module.scss';
@import '~sfui/dist/Styles/SFMedia/SFMedia.module.scss';
@import '../../../Mixins/BillingCommon.module.scss';

.nextInvoice {
  @include billingContent;
  gap: 4px;
  border-top: 1px solid $sf-grey-100;

  .chips {
    display: flex;
    gap: 8px;
  }

  @media screen and (max-width: $sf-media-sm-width) {
    .chips {
      flex-direction: column;
      width: fit-content;
    }
  }
}

:global(.nightMode) {
  .nextInvoice {
    @include billingContent(false);
    border-color: $sf-grey-700;
  }
}
