@import '~sfui/dist/Styles/SFColors/SFColors.module.scss';
@import '../../../Mixins/BillingCommon.module.scss';

.nextPayment {
  @include billingContent;
  border-top: 1px solid $sf-grey-100;
}

:global(.nightMode) {
  .nextPayment {
    @include billingContent(false);
    border-color: $sf-grey-700;
  }
}
