@import '~sfui/dist/Styles/SFColors/SFColors.module.scss';
@import '../../../Mixins/BillingCommon.module.scss';

.paymentMethod {
  @include billingContent;
  border-top: 1px solid $sf-grey-100;

  .description {
    .method {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'card link' 'expiration link';
      gap: 3px;

      .text {
        grid-area: card;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }

      .expiration {
        grid-area: expiration;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: $sf-grey-600;
      }

      .changeLink {
        grid-area: link;
      }
    }
  }
}

:global(.nightMode) {
  .paymentMethod {
    @include billingContent(false);
    border-color: $sf-grey-700;

    .description {
      .method {
        .expiration {
          color: $sf-grey-400;
        }
      }
    }
  }
}
