.stripeCreditCardForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .spinner {
    justify-self: center;
    align-self: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &.isLoading {
      transform: scale(0);
      height: 0;
    }
  }

  .cardInformation {
    display: flex;
    gap: 12px;
  }
}
