@import '~sfui/dist/Styles/SFColors/SFColors.module.scss';

@mixin billingContent($lightTheme: true) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 0;

  .description {
    display: flex;
    flex-direction: column;
    gap: 3px;

    p {
      margin: 0;
      padding: 0;
    }

    .title {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      @if ($lightTheme) {
        color: $sf-grey-600;
      } @else {
        color: $sf-grey-400;
      }
      text-transform: uppercase;
    }

    .text {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
  }
}
