@import '~sfui/dist/Styles/SFColors/SFColors.module.scss';

.memberListItem {
  display: grid;
  grid-template-columns: 42px minmax(0, 1fr);
  gap: 12px;
  padding: 20px 13px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  @media (hover: hover) {
    &:hover {
      background-color: rgba(204, 204, 204, 0.3);
    }
  }

  &:active {
    background-color: rgba(204, 204, 204, 0.5);
  }

  &.withMenu {
    grid-template-columns: 42px minmax(0, 1fr) auto;
  }

  .memberInfo {
    > p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .role {
      margin-top: 8px;
    }
  }

  .textNeutral {
    color: $sf-grey-600;
  }
}

:global(.nightMode) {
  .memberListItem {
    @media (hover: hover) {
      &:hover {
        background-color: rgba(128, 128, 128, 0.3);
      }
    }

    &:active {
      background-color: rgba(128, 128, 128, 0.5);
    }

    .textNeutral {
      color: $sf-grey-400;
    }
  }
}
